<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155334493-1"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag() {     dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-155334493-1'); </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

        <title>Under construction</title>


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">



        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="css/cover.css" rel="stylesheet">
    </head>

    <body class="text-center">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                  <div class="">
                          <h3 class="masthead-brand">JB</h3>
                  </div>
                        <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/blog">BLOG</a>
<!--                         <a class="nav-link" href="#">WORK</a>      -->
                        <a class="nav-link" href="/projects">PROJECTS</a>
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </nav>
                </div>
            </header>
